PORT=3001
RMQ_URI=amqp://rabbitmq:5672
JWT_EXPIRATION=360000
JWT_SECRET=
RMQ_VENDORS_API_QUEUE=VENDORS_API
RMQ_VENDORS_QUEUE=VENDORS
RMQ_LISTINGS_QUEUE=LISTINGS
RMQ_ORDERS_QUEUE=ORDERS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
