PORT=3001
RMQ_URI=amqp://rabbitmq:5672
JWT_EXPIRATION=360000
JWT_SECRET=64a5b5676eb9329c8978d3367fd7e1df5404ff886d16c0bc03edf7cc
RMQ_VENDORS_API_QUEUE=VENDORS_API
RMQ_VENDORS_QUEUE=VENDORS
RMQ_LISTINGS_QUEUE=LISTINGS
RMQ_ORDERS_QUEUE=ORDERS
