RMQ_URI=amqp://rabbitmq:5672
JWT_EXPIRATION=360000
JWT_SECRET=
RMQ_VENDORS_API_QUEUE=VENDORS_API
RMQ_VENDORS_QUEUE=VENDORS
MONGODB_URI=mongodb://root:password123@mongodb-primary:27017/
RMQ_ADMIN_API_QUEUE=ADMIN_API
RMQ_ADMIN_SERVICE_QUEUE=ADMIN
